

// .contacto
// {
//     display:flex;
//     align-items: center;
//     width: 100%;
//     height: 100%;
//     flex-direction: row;
// }

.form
{
    display: flex;
    justify-content:left;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    width: 45%;
    padding: 2.5%;

    .input
    {
        padding: $spacing*5 0;
        margin-top: 1%;
        width: 100%;
        text-align: center;
    }

    h2
    {
        font-family: 'Nunito', sans-serif;
        font-size: 30px;
        padding: $spacing*2;
        background-color: #32333842;
        align-self: center;
    }

    h3
    {
        font-family: 'Nunito', sans-serif;
        font-size: 20px;
        width: 100%;
        text-align: center;
        padding: 5% 0;
    }
}

.contact_info
{
    display: flex;
    justify-content:left;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    width: 45%;
    padding: 2.5%;

    h2
    {
        font-family: 'Nunito', sans-serif;
        font-size: 30px;
        padding: $spacing*2;
        background-color: #32333842;
    }

    li
    {
        font-family: 'Nunito', sans-serif;
        font-size: 20px;
        padding: $spacing*2 0px;
        list-style: none;
    }

    ul
    {
        padding-top: $spacing*4;
    }
}

.centro_contacto
{
    @include spacing($spacing, 0 $spacing*20);

    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 5px 15px #323338;
    border-radius: 7px;

    display:flex;
    align-items:flex-start;
    justify-content: space-around;


    animation-name: fade-in;
    animation-duration: .5s;
    animation-timing-function: ease-out;
}

@media only screen and (max-width: 1050px)
{
    .centro_contacto
    {
        margin: 0px $spacing*4;
        flex-direction: column;
    }

    .form
    {
        width: 100%;
        
        .input
        {
            margin-top: 8%;
            border-style: solid;
            border-radius: 10px;
            width: 100%;
        }
    }

    .contact_info
    {
        width: 100%;
        margin-top: 5%;
    }
}

$color_form: 
(
    form_1: #ffc30f,
    form_2: #ff5733,
    form_3: #c70039,
    form_4: #900c3f,
    form_5: #581845,
);

 @each $form, $color in $color_form 
 {
    .color-#{$form}
    {
        border-color: $color;
    }
 }