footer
{
    grid-area: footer;
    margin: $spacing*10 0px 0px 0px;
    background-color: $gris1;

    h4
    {
        font-family: 'Roboto', sans-serif;
        color: #edf0f1;
        padding: 0px $spacing*3;
    }

    li
    {
        font-family: 'Nunito', sans-serif;
        font-size: 14px;
        color: #edf0f1;
        text-decoration: none;
        list-style: none;
        padding: $spacing;
    }
}

.class_footer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2%;
}

.footer_content
{
    padding: $spacing*2;
}

.medios_pago
{
    height: 100%;
    width: 75%;
}

//Responsive

@media only screen and (max-width: 650px)
{
    .class_footer
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: left;
        text-align: left;
    }
    
    .footer_cell
    {
        padding-top: 5%;
    }
}
    