footer
{
    grid-area: footer;
    margin: 50px 0px 0px 0px;
    background-color: $gris1;

    h4
    {
        font-family: 'Roboto', sans-serif;
        color: #edf0f1;
        padding: 0px 15px;
    }

    li
    {
        font-family: 'Nunito', sans-serif;
        font-size: 14px;
        color: #edf0f1;
        text-decoration: none;
        list-style: none;
        padding: 5px;
    }
}

.class_footer
{
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
}

.footer_cell
{
    display: flex;
    flex-direction: column;
}

.footer_content
{
    padding: 10px;
}

//Responsive

@media only screen and (max-width: 900px)
{
    .class_footer
    {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .footer_cell
    {
        padding-top: 5%;
        border-bottom: solid 2px #17171a;
    }
}
    