main
{
    grid-area: main;

    h2
    {
        font-family: 'Nunito', sans-serif;
        font-size: 35px;
    }

    p
    {
        font-family: 'Nunito', sans-serif;
    }

    a
    {
        font-family: 'Nunito', sans-serif;
        text-decoration: none;
        color: $gris1;
    }
}

h1
{
    font-family: 'Grape Nuts', cursive;
    color: #353538;
    font-size: 60px;
    font-weight: 600;
    padding: 10px;
    margin: 0px 20px 15px;
    text-align: center;
    text-shadow: 1px 5px 8px whitesmoke, 1px 1px 5px #35353850;
}

.centro
{
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 5px 15px #323338;
    border-radius: 7px;
    margin: 0px 100px;
    padding: 5px;
    display: grid;
    
    grid-template-areas:
    "section_1"
    "section_2"
    "section_3"
    "section_4"
    ;

    animation-name: fade-in;
    animation-duration: .5s;
    animation-timing-function: ease-out;
}

.section_1, .section_2, .section_3, .section_4
{
    img
    {
        width: 450px;
        object-fit: contain;
        border-radius: 7px;
    } 
}

.section_1
{
    grid-area: section_1;
    display: flex;
    padding: 5%;
    margin: 2%;
    background-color: #32333828;
    border-radius: 7px;
}
.section_2
{
    grid-area: section_2;
    display: flex;
    padding: 5%;
    margin: 2%;
    background-color: #32333828;
    border-radius: 7px;
    flex-direction: row-reverse;
}
 .section_3
{
    grid-area: section_3;
    display: flex;
    padding: 5%;
    margin: 2%;
    background-color: #32333828;
    border-radius: 7px;
}

.section_4
{
    grid-area: section_4;
    display: flex;
    padding: 5%;
    margin: 2%;
    background-color: #32333828;
    border-radius: 7px;
    flex-direction: row-reverse;
}

.sub_section
{
    display: flex;
    flex-direction: column;
}

.sub_section p
{
    padding: 5px 50px;
}

@keyframes fade-in
{
    0%
    {
        transform: translateX(-80px);
        opacity: .2;
    }

    100%
    {
        transform: rotateX(0px);
        opacity: 1;
    }
}

.index-responsive
{
    display: none;
}

.index_container
{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
}

.carousel
{
    margin: 5%;
    padding: 10px;   
    
    img
    {
        border-radius: 15px;
        border-style: solid;
        border-color: $gris1;
    }

    p
    {
        font-family: 'Nunito', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color:rgb(0, 0, 0);
        text-shadow:  1px 2px 3px whitesmoke;
    }
}

.categoria
{
    color: rgb(202, 202, 202);
    text-shadow: 1px 3px 3px #000000, 1px 3px 3px #272727;
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    font-weight: 600;
    
}

.aside_container
{
    background-color: $gris1;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(170, 170, 170);
    margin: 7%;
    display: grid;
    grid-template-rows: 80% 20%; 
    justify-content: center;
}

.aside_item
{
    color: whitesmoke;
    padding: 5%;
    margin: 5%;

    p
    {
        text-align: center;
        font-size: 20px;
    }

    a
    {
        text-decoration: none;
        color: whitesmoke;
    }
}

.aside_container-ig
{
    margin-top: 5%;
    text-align: center;

    a
    {
        font-family: 'Nunito', sans-serif;
        font-size: 22px;
        color: rgb(145, 145, 145);
        border-top-style:solid;
        border-width: 1px;
        border-color: rgba(99, 99, 99, 0.459);
        padding-top: 4%;
    }
}

//Responsive

@media only screen and (max-width: 1050px)
{
    .centro
    {
        margin: 0px 30px;
    }  
}

@media only screen and (max-width: 900px)
{
    .index_container
    {
        display: none;
    }
    
    .aside_container
    {
        display: none;
    }
    
    .index-responsive
    {
        display: block;
    }
    
    .categoria_responsive
    {
        font-weight: 600;
    }
    
    .section_1, .section_2, .section_3, .section_4
    {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 2%, 50px;
    
        img
        {
            padding-bottom: 6%;
            max-width: 100%;
            border-radius: 15px;
        }
    }
    
    .sub_section
    {
        padding-bottom: 5%;
    }
    
    
    
    p
    {
        font-size: 20px;
    }
}
