@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Roboto:wght@100&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

body
{
    background-color: whitesmoke;
    background-image:url("Imagenes/main_background.png");
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
}

.main_wrapper
{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

/* HEADER */

header
{
    grid-area: header;
}

.menu_responsive
{
    display: none;
}

.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 4% 12px 2%;
    background-color: #24252a;
}

.header li, .header a
{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    list-style: none;
}

.menu li
{
    display: inline-block;
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
    transition-property: background;
    transition-duration: .2s;
    transition-timing-function: ease-out;
}

.menu a
{
    transition-property: font-size;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    transition-delay: .05s;
}

.menu li:hover
{
    background-color:#323338c7;
}

.menu a:hover
{
    font-size: 25px;
}

.logo
{
    width: 100px;
}

.logo_ig
{
    padding: 10px;
    width: 60px;
    border-radius: 10px;
    transition-property: background, width;
    transition-duration: .5s;
}

.logo_ig:hover
{
    background-color: #323338c7;
    width: 70px;
}



/* MAIN */

main
{
    grid-area: main;
}

main h2
{
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    padding: 20px 50px;
}

main p
{
    font-family: 'Nunito', sans-serif;
}

main a
{
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: #24252a;
}

.titulo
{
    font-family: 'Grape Nuts', cursive;
    color: #323338;
    font-size: 60px;
    font-weight: 1500;
    padding: 10px;
    margin: 0px 20px 15px;
    text-align: center;
    text-shadow: 0px 5px 8px whitesmoke;
}

.centro
{
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 5px 15px #323338;
    border-radius: 7px;
    margin: 0px 100px;
    padding: 5px;
    display: grid;
    
    grid-template-areas:
    "section_1"
    "section_2"
    "section_3"
    "section_4"
    ;

    animation-name: fade-in;
    animation-duration: .5s;
    animation-timing-function: ease-out;
}

@keyframes fade-in
{
    0%
    {
        transform: translateX(-80px);
        opacity: .2;
    }

    100%
    {
        transform: rotateX(0px);
        opacity: 1;
    }
}

.section_1 img, .section_2 img, .section_3 img, .section_4 img
{
    width: 450px;
    object-fit: contain;
    border-radius: 7px;
}

.section_1
{
    grid-area: section_1;
    display: flex;
    padding: 5%;
    margin: 2%;
    background-color: #32333828;
    border-radius: 7px;
}

.section_2
{
    grid-area: section_2;
    display: flex;
    padding: 5%;
    margin: 2%;
    background-color: #32333828;
    border-radius: 7px;

    flex-direction: row-reverse;
}

.section_3
{
    grid-area: section_3;
    display: flex;
    padding: 5%;
    margin: 2%;
    background-color: #32333828;
    border-radius: 7px;
}

.section_4
{
    grid-area: section_4;
    display: flex;
    padding: 5%;
    margin: 2%;
    background-color: #32333828;
    border-radius: 7px;

    flex-direction: row-reverse;
}

.sub_section
{
    display: flex;
    flex-direction: column;
}

.sub_section p
{
    padding: 5px 50px;
}


/* FOOTER */

footer
{
    grid-area: footer;
    margin: 50px 0px 0px 0px;
    background-color: #24252a;
}

.class_footer
{
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
}

footer h4
{
    font-family: 'Roboto', sans-serif;
    color: #edf0f1;
    padding: 0px 15px;
}

.footer_cell
{
    display: flex;
    flex-direction: column;
}

.footer_content
{
    padding: 10px;
}

footer li
{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #edf0f1;
    text-decoration: none;
    list-style: none;
    padding: 5px;
}


/* PRODUCTOS */

.productos
{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px 0px;
}

.item
{
    padding: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item:hover
{
    background-color: #32333852;
    border-radius: 7px;
}

.item h5
{
    margin: 5%;
    padding: 5%;
    font-family: 'Grape Nuts', cursive;
    font-size: 25px;
    background-color: #32333837;
}   

.item img
{
    border-style: groove;
    border-radius: 7px;
    border-width: 5px;
    border-color: rgb(206, 104, 31);
}

/* GALERIA */

.galeria
{
    background-color:#edf0f1;
    box-shadow: 0px 5px 15px #323338;
    margin: 0px 100px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: 290px;
    animation-name: fade-in;
    animation-duration: .5s;
    animation-timing-function: ease-out;
}

.galeria img
{
    border-width: 2px;
    border-color:#323338;
    box-shadow: 0px 5px 15px #323338;
    border-style:solid;
    border-radius: 7px;
    object-fit: cover;
    margin: auto;
    height: 250px;
}

/* COMO COMPRAR */

.instrucciones h3
{
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    padding: 10px;
    background-color: #32333842;
    margin: 20px 20px 0px 0px;
}

.instrucciones li
{
    list-style: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #24252a;
    text-decoration: none;
    padding-bottom: 10px;
}

.compra_wsp
{
    margin: 15px 25px;
    display: flex;
    flex-direction: column;
}

.compra_ig
{
    margin: 15px 25px;
    display: flex;
    flex-direction: column;
}


/* CONTACTO */

.contacto
{
    display:flex;
    justify-content: space-between;
}

.form
{
    margin: 30px;
    display: flex;
    justify-content:left;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    padding: 20px;
}

.form .input
{
    padding: 15px;
}

.form h2
{
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    padding: 10px;
    background-color: #32333842;
}

.form h3
{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.contact_info
{
    margin: 30px;
    display: flex;
    justify-content:left;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    padding: 20px;
}

.contact_info h2
{
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    padding: 10px;
    background-color: #32333842;
}

.contact_info li
{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    padding: 10px 0px;
    margin-left: 20px;
    list-style: none;
}

.contact_info ul
{
    padding-top: 20px;
}




/* RESPONSIVE */

@media only screen and (max-width: 1050px)
{
    .centro
    {
        margin: 0px 30px;
    }
    
    .section_1, .section_2, .section_3, .section_4
    {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 2%, 50px;
 
    }

    .section_1 img, .section_2 img, .section_3 img, .section_4 img
    {
        padding-bottom: 6%;
        max-width: 100%;
        border-radius: 15px;
    }

    .sub_section
    {
        padding-bottom: 5%;
    }

    p
    {
        font-size: 20px;
    }

    /* PRODUCTOS */

    .item
    {
        border-style: solid;
        border-radius: 10px;
        border-color: #3233385e;
        margin-bottom: 5%;
    }

    .productos
    {
        margin: 5px 0;
    }
    
    
}



@media only screen and (max-width: 900px)
{
    .menu
    {
        display: none;
    }

    .menu_responsive
    {
        display: flex;
    }

    .responsive_li
    {
        text-align: center;
        margin: 10px 0;
        padding: 3% 0;
        background-color:#3233387c;
        border-radius: 10px;
    }


    .class_footer
    {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer_cell
    {
        padding-top: 5%;
        border-bottom: solid 2px #17171a;
    }
}

@media only screen and (max-width: 800px)
{
    /* GALERIA */

    .galeria
    {
        margin: 0px 30px;
    }
}